*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

# --- Системные файлы ---
*~
*.swp
*.swo
.DS_Store

# --- Бинарные сборки Паскаля ---
*.o
*.ppu
*.a
*.so
*.dll
*.dylib
*.out
*.exe

# --- Free Pascal / Lazarus ---
lib/
backup/
*.bak
*.lps
*.lpi
*.compiled

# --- IDE / редакторы ---
.vscode/
.idea/
*.iml

# --- Логи и временные ---
*.log
*.log.*
